a {
    text-decoration: none;
    color: black;
}

header {
    background-image: url('../../images/services/bg1.jpg');
    box-shadow: 0 2px 0 #386c8d;
}

/* =============================================== */

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  */
    -webkit-box-shadow: inset 0 0 6px linear-gradient(#386c8d 20%, #84848c 90%);
    background: linear-gradient(#386c8d 35%, #84848c 90%);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
    background: rgba(0, 0, 0, 1);
    border-radius: 5px;
}

/* =============================================== */

main {
    font-family: 'Roboto', sans-serif;
}

.section-head {
    background-image: url('../../images/services/bg1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 650px;
    align-items: center;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.dark-bg {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.4);
}

.section-head h1 {
    font-weight: 900;
    font-size: 95px;
    padding-top: 250px;
}

.section-head h2 {
    font-weight: 400;
    font-size: 45px;
    text-transform: capitalize;
    padding-top: 20px;
    font-style: italic;
}

/* =============================================== */

.section-tabs {
    padding: 75px 20%;
}

.tabs-title {
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    color: black;
}

.tabs-title::after {
    margin: 24px auto 0 auto;
    content: '';
    display: block;
    height: 2px;
    width: 85px;
    background-color: #386c8d;
    box-shadow: 13px 6px 0 #386c8d;
}

.tabs-buttons {
    padding-top: 75px;
    display: flex;
    justify-content: center;
}

.tab-button {
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    color: black;
    font-weight: 400;
    font-size: 20px;
    background-color: #fff;
}

.tab-button:active {
    border: 1px solid #3681af;
}

.tab-button:hover {
    background-color: #e6f5fe;
}

.active-tab-button {
    background-color: #386c8d;
    color: white;
    position: relative;
}

.active-tab-button::after {
    content: '';
    position: absolute;
    left: calc((95% - 10px) / 2);
    bottom: -20px;
    border: 10px solid transparent;
    border-top: 10px solid #386c8d;
}

.active-tab-button:hover {
    background-color: #386c8d;
}

.tab-content {
    margin-top: 50px;
    display: flex;
    gap: 20px;
}

.tab-content img {
    height: 200px;
}

.tab-content p {
    font-weight: 300;
    font-size: 20px;
}

/* =============================================== */

.section-moreinfo-bg {
    background-image: url('../../images/services/bg1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 350px;
    align-items: center;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.dark-bg {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.4);
}

.section-moreinfo-bg h2 {
    font-weight: 700;
    font-size: 55px;
    padding-top: 150px;
}


/* =============================================== */

.section-moreinfo {
    padding: 45px 15%;
}

.moreinfo-block {
    margin-top: 75px;
    /* display: flex; */
    gap: 5%;
}

.moreinfo-block img {
    height: 40%;
    width: 35%;
    float: left;
    margin: 10px;
    /* max-height: 400px;
    max-width: 400px; */
}
.moreinfo-block:nth-child(2n) img {
    float: right;
}

.moreinfo-block p {
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
}

/* ================================================================================================================== */

@media (max-width: 768px) {
    .section-head {
        height: 500px;
    }
    .section-head h1 {
        font-weight: 700;
        font-size: 55px;
        padding-top: 200px;
    }
    .section-head h2 {
        font-weight: 400;
        font-size: 35px;
    }
    .moreinfo-block {
        display: inline-block;
    }
    .moreinfo-block img {
        width: 100%;
        height: 200px;
    }
    .section-tabs, .section-moreinfo-bg {
        display: none;
    }
}

@media (max-width: 426px) {
    .moreinfo-block p {
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
    }
    .moreinfo-block img {
        width: 100%;
        height: 150px;
    }
}
