a {
    text-decoration: none;
    color: black;
}

/* =============================================== */

header {
    background-image: url('../images/home/bg1.jpg');
}

/* =============================================== */

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  */
    -webkit-box-shadow: inset 0 0 6px linear-gradient(#1c1bb1 20%, #bf0640 90%);
    background: linear-gradient(#1c1bb1 35%, #bf0640 90%);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
    background: rgba(0, 0, 0, 1);
    border-radius: 5px;
}

/* =============================================== */

main {
    font-family: 'Roboto', sans-serif;
}

.section-greeting {
    background-image: url('../images/home/bg1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 750px;
    align-items: center;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.section-greeting p {
    font-weight: 700;
    font-size: 35px;
    padding-top: 245px;
}

.section-greeting p span {
    color: #ce1857;
}

.section-greeting h1 {
    font-weight: 900;
    font-size: 95px;
    padding-top: 20px;
}

.section-greeting h2 {
    font-weight: 400;
    font-size: 45px;
    text-transform: capitalize;
    padding-top: 20px;
}

/* =============================================== */

.square-links {
    display: flex;
}

.square-link {
    width: 25%;
    height: 350px;
    /* background-color: #B873D1; */
    background-color: #120c34;
    justify-self: center;
    align-items: center;
    text-align: center;
    color: #db21a3;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 35px;
    cursor: pointer;
}

.square-link:nth-child(2n) {
    /* background-color: #D64894; */
    background-color: #db21a3;
    color: #120c34;
}

.square-link img {
    height: 100px;
    padding-top: 85px;
}

.square-link p {
    margin-top: 25px;
}

/* =============================================== */

.section-introduction {
    /* height: 3000px; */
    padding: 75px 250px;
}

.introduction-title {
    font-weight: 700;
    font-size: 35px;
    text-align: center;
}

.introduction-title::after {
    margin: 24px auto 0 auto;
    content: '';
    display: block;
    height: 2px;
    width: 79px;
    background-color: #db21a3;
    box-shadow: 13px 6px 0 #db21a3;
}

.introduction-container {
    margin-top: 25px;
    display: flex;
    gap: 10%;
}

.introduction-container img {
    width: 400px;
}

.introduction-text {
    font-weight: 300;
    font-size: 28px;
    line-height: 35px;
    margin-top: 25px;
}

.bg-city {
    background-image: url('../images/home/bg2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 450px;
    width: 100%;
}
