header {
    width: 100%;
    height: 60px;
    /* background-color: rgb(133, 132, 128, 0.5); */
    /* background-color: rgb(133, 132, 128, 0.7); */
    display: flex;
    vertical-align: middle;
    position: fixed;
    font-family: 'Roboto', sans-serif;
    /* box-shadow: 0 2px 0 rgb(133, 132, 128, 0.5); */
    /* box-shadow: 0 2px 0 rgb(133, 132, 128, 0.7); */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.header-dark-bg {
    width: 100%;
    height: 100%;
    display: flex;
    vertical-align: middle;
    background-color: rgb(133, 132, 128, 0.4);
    box-shadow: 0 2px 0 rgb(133, 132, 128, 0.4);
}

.header-logo {
    height: 50px;
    margin: 5px 20px;
    cursor: pointer;
}

.header-links {
    display: flex;
    /* width: calc(100% - 90px); */
    width: calc(100% - 160px);
    justify-content: space-evenly;
    font-weight: 700;
    font-size: 30px;
    margin-top: 15px;
}

.header-link:hover {
    box-shadow: 0 2px 0 #ce1857;
    cursor: pointer;
    color: #ce1857;
}

.header-link:hover a {
    cursor: pointer;
    color: #ce1857;
}

.header-link:active {
    color: #9f000f;
    box-shadow: none;
    font-size: 28px;
}

.translation {
    display: flex;
    width: 70px;
    font-weight: 400;
    font-size: 20px;
    margin-top: 22px;
    justify-content: center;
}

.translation-items:hover {
    cursor: pointer;
    color: #ce1857;
}

.header-active-page {
    color: #ce1857;
    opacity: 0.6;
    font-style: italic;
}
.header-active-page:hover {
    cursor: default;
    box-shadow: none;
}
.header-active-page:active {
    color: #ce1857;
    font-size: 30px;
}